{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "report-dir": "coverage",
    "statements": "91",
    "branches": "85",
    "functions": "94",
    "lines": "91",
    "include": "src"
}
